<h3 id="result_status"><%= @result %></h3>
<table border="1" id="result_content">
  <% i=1 %>
  <% if @input_is_ok %>
    <% @correct.each do |row| %>
      <tr>
        <th><%= i %></th>
        <% i += 1 %>
        <th><%= row %></th>
      </tr>
    <% end %>
  <% end %>
</table>
<%= link_to 'Logout', logout_path %>
